### Getting information from user

In [7]:
name = input("Enter your name  ")

Enter your name  Carl

### Print user information

In [32]:
print("Hello " + name)

Hello Carl

### Using Dictionary

In [9]:
days = {"Monday":"Group1", "Tuesday":"Group2", "Wednesday":"Group3", "Thursday":"Group4", "Friday":"Group5"}

### Print what group is in charge for the day.

In [12]:
print("The cleaners for to day is " + days["Friday"])

The cleaners for to day is Group5

### List of Students

In [16]:
studentsName = {"Abby","Bea","Cardo","Dale","Elly","Fin","Gilda","Helen","Iya"}

### Remove Bea from the list of student

In [20]:
studentsName.remove("Bea")

In [21]:
print(studentsName)

{'Elly', 'Gilda', 'Helen', 'Abby', 'Cardo', 'Fin', 'Iya', 'Dale'}

### Add Bea from the list of student

In [22]:
studentsName.add("Bea")

In [33]:
studentsName.add("Jenny")

In [34]:
print(studentsName)

{'Elly', 'Gilda', 'Helen', 'Jenny', 'Abby', 'Cardo', 'Fin', 'Iya', 'Dale', 'Bea'}

### Get rid of the last element in the left

In [38]:
studentsName.pop()

'Elly'

In [39]:
print(studentsName)

{'Gilda', 'Helen', 'Jenny', 'Abby', 'Cardo', 'Fin', 'Iya', 'Dale', 'Bea'}

### Finding the value of mean

In [42]:
def find_mean(ave):
    print("the mean of this list", ave )

In [56]:
sample_test1  = {92,99,89,95,88,82}
n1 = len(sample_test1)

In [57]:
sum_test1 = sum(sample_test1)

In [58]:
ave_test1= sum_test1 / n1

In [59]:
mean_test1 = str(ave_test1)

In [60]:
find_mean(mean_test1)

the mean of this list 90.83333333333333

In [61]:
sample_test2 = {90,88,85,85,84,88,91,99,99}
n2 = len(sample_test2)
sum_test2 = sum(sample_test2)
ave_test2 = sum_test2 / n2 
mean_test2 = str(ave_test2)
find_mean(mean_test2)

the mean of this list 89.5

### Array and Lists

In [86]:
import array as arr

friends_seatnum = [ 12, 2, 5, 5, 8, 10 , 23, 26, 31, 50,2,1,10,20,32,42]
print(friends_seatnum)

[12, 2, 5, 5, 8, 10, 23, 26, 31, 50, 2, 1, 10, 20, 32, 42]

### Sort Array Ascending order

In [89]:
sort_ascending = sorted(friends_seatnum, reverse= False)
print(sort_ascending)

[1, 2, 2, 5, 5, 8, 10, 10, 12, 20, 23, 26, 31, 32, 42, 50]

### Sort Array Descending order

In [90]:
sort_descending = sorted(friends_seatnum, reverse= True)
print(sort_descending)

[50, 42, 32, 31, 26, 23, 20, 12, 10, 10, 8, 5, 5, 2, 2, 1]

In [87]:
new_friends_seatnum = arr.array('i', friends_seatnum)

print(new_friends_seatnum[0:6])

array('i', [12, 2, 5, 5, 8, 10])

### Finding median of the given samples

In [82]:
def find_median(med):
    print("The median of the given sample ", med)
    
sample_test = [2,5,3,6,10,23,26,30,50,23,33,52,67,94,100]
finding_max = max(sample_test)
print(finding_max)

100

In [83]:
finding_mid = finding_max / 2 
median_sample1 = str(finding_mid)

find_median(median_sample1)

The median of the given sample  50.0

In [84]:
name_customer = ["fred", "albert", "dane", "eli", "gevin", "hansel"]
print(name_customer)

['fred', 'albert', 'dane', 'eli', 'gevin', 'hansel']

In [81]:
reverse_name = list(reversed(name_customer))
print(reverse_name)

['hansel', 'gevin', 'eli', 'dane', 'albert', 'fred']

In [85]:
r1 = reverse_name[0]
print(r1)

hansel